---
title: Le Wagon - Middleman - Team
---

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline text-center">
      <% ["kaikuenne", "lemairedvd"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}" , class: "img-circle" %>
          <br>
          <% if gh_username == "kaikuenne" %>
          <h2><%= "Kai" %></h2>
          <% else %>
          <h2><%= "David" %></h2>
          <% end %>
          <br>
          <i class="fa fa-github""></i>
          <%= link_to "#{gh_username}", "https://github.com/#{gh_username}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
